# Ignore anything named 'secrets.py'
secrets.py

# Ignore anything named 'snow_data'
snow_data

# Ignore files with the extension '.json'
*.json

# Ignore files with the extension '.db'
*.db

# Ignore files with the extension '.ipynb'
*.ipynb
