<link rel="stylesheet" href="/static/style_about.css">
<div class='main' align="center">
    <h1>SI 206 Final Project</h1>
    <p>
        Thanks for checking out my project<br>This is my Final Project for SI 206:
        Data-Oriented Programming<br><br>I came up with this idea because skiing
        is one of my passions and I wanted to see how I could incorporate data from skiing
        into a Final Project
        <br>
    </p>
    <h2>The Data</h2>
    <h3>
        Open Snow
        </h3>
    <p>
        This website is run by Joel Gratz and a team of Meteorologists. They are professionals
        at forecasting snow amounts for skiing. From the wesbite, I scraped each
        state and province to get the snow forecast for the next 5 days. With those
        amounts, I took an average of the forecast and used that data within the
        chart.
        <br><br>
    </p>
    <h3>
        Yelp
        </h3>
    <p>
        I used the Yelp Fusion API to pull the data of the rating of the ski area. While
        most places had ratings, some of the smaller places lacked a rating. Something
        cool with this, I used the Unicode stars on the map of the US and Canada
        to show the rating rather than giving a number. The only drawback with this
        is that Unicode does not have half star symbols so I needed to round the
        ratings to the nearest start.<br><br>
    </p>
    <h2>What's Next?</h2>
    <p>
        Next Semester (Fall 2018), I will be starting at the School of Information at the
        University of Michigan. There I will be studying Information Analysis and
        have a goal of going into Financial Technology(Fintech)
    </p>
    <a href='https://www.linkedin.com/in/cooper-seligson-26b872133/' target="_blank">Linkedin</a>
    <a href='https://github.com/cooper62498' target="_blank"><br>GitHub<br><br></a>
    <a href='/'> Go back home </a>
</div>
